h5{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: aqua;}
body{color: aqua;}

    navbar {
    background-color:#448ed7 ;
}

footer {
    color: rgb(173, 190, 173);
}

h1{font-family: 'Caveat', cursive;color: rgb(84, 132, 132);}

div{background-color: aquamarine;}
